/* 2.针对性处理 */
ol,ul{ list-style:none;}            /*清除列表默认风格*/
textarea{ resize:none;}             /*文本域禁止拖拽*/
img{ border:none; display:block;width:100%;}   /*清除图片链接在ie下默认边框，图片底部默认的空白*/
/* 3.设置全局样式 */
body{ color:#3c3c3c; font-family:"Microsoft YaHei",Arial,"ArialMT","Helvetica Neue", Helvetica,sans-serif;}
a{color:#3c3c3c; text-decoration:none;cursor:pointer;}
a:hover{}
a:active{background-color: rgba(0,0,0,0);-webkit-tap-highlight-color: rgba(0,0,0,0);}
input,button{outline: none;}
/* 4.定义常用类 */
.clearfix{display:inline-block;}
.clearfix:after{display: block; content: ""; height: 0; line-height: 0;clear: both;visibility: hidden}
/*.clearfix:before{ content:""; display:table;}
.clearfix:after{ clear:both;}
.clearfix{*zoom:1;}*/

.fl{float:left;}
.fr{float:right;}
/*---------------------------------------*/
html{font-size:10px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
@media screen and (min-width:376px) and (max-width:415px){html{font-size:12px}}
@media screen and (min-width:416px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px){html{font-size:20px}}
html,body{
  position: relative;
  width: 100%;
  max-width:640px;
  margin: 0 auto;
  background: #F3F5F7;
}